head{
   background-color: darkorchid;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0%;
   
}
nav img{
    width: 100vw;
    height: auto;
  }
header img{
    width: 100vw;
    height: auto;
}


main{
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}
main p{
    padding-left: 15%;
    padding-right: 15%;

}

section img{
     width: 50vw;
     height: auto;
   
}
 footer img{
    width: 35vw;
    height: auto;
    padding-left: 15%;
 }

h1 {
    font-weight: lighter;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
  
}

h2 {
    font-size: 10pt;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
    
}

 h3{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
    
 }
 .capitular{
     font-size: 36pt;
 }
 #redes_sociales {
     width: 20%;
    height: 20%;
 }