@media (min-width: 576px) {  
   
}

@media (min-width: 768px) {  
   
}
@media (min-width: 992px) {
}

@media (min-width: 1200px){
    .barra{
   
        top: 0%;
        background-color: rgb(179, 173, 173);
        padding: 3%;
    }
    body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    
    h1 {
        font-weight: lighter;
        margin-left: 450px; 
    }
    
    h2 {
        color: gray;
        font-size: 10pt;
        margin-left: 450px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    li { 
        color: gray;
        font-size: 10pt;
        margin-left: 420px; 
        list-style-type: none;
    }
    p{
        margin-left: 450px;
        margin-right: 450px;
        margin-block-end: auto;    
    }
    
    .texto{
        position: absolute;
        top: 50%;
        left: 50%;
        color: black;
    }
    
    
    .carousel-inner img {
        width: 50%;
        height: auto;
        
        margin-left: 450px;
        margin-right: 450px;
    }
}





  