img{
    height: 100vh;
    width: 200vh;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    
}
nav p{
    color: aliceblue;
    margin-left: 10%;

}
.barra{
    position: absolute;
    top: 0%;
    right: 10%;
    display: flex;
    align-items: center;
}
.arriba{
    position: absolute;
    top: 0%;
    left: 15%;
    right: 60%;
}
.abajo{
    position: absolute;
    bottom: 10%;
    left: 60%;
    right: 15%;
}
.creado{
    display: flex;
    align-items: center;
    list-style-type: none;
}
div p{
    margin-left: 10%;
}
hr{
    color: black;
}
.azul{
    color: rgb(97, 97, 235);
    margin-top: 7%;
    margin-bottom: 7% ;
    text-decoration: none;
}
.caja{
    background-color:  rgb(97, 97, 235);
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

section img{
    width: 50px;
    height: auto;
    margin-top: 0%;

}
h1{
    
}