head{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium; 
    
}
header{
    background-color: deeppink;
    
}
main{
    background-color: rgb(189, 187, 187);
}
main p{
    padding-bottom: 2%;
}
img{
    
    width: 25%;
    height: auto;
    filter: opacity(40%)
    
}
a:hover img{
        filter: opacity(100%)
}
section{
    display: inline;
}